# Elegant HTTP Networking in Swift
github "Alamofire/Alamofire" == 4.6.0

# Image component library for Alamofire
github "Alamofire/AlamofireImage" == 3.3.0

# Swift SQLite interface
github "groue/GRDB.swift" == 2.4.1

# Photo Capture in Swift
github "hyperoslo/ImagePicker" == 3.0.0

# Asynchonous library
github "malcommac/Hydra" == 1.2.1

# Used to validate user input
github "SwiftValidatorCommunity/SwiftValidator" == 4.0.1

# Local and cloud-hosted logging
github "SwiftyBeaver/SwiftyBeaver" == 1.5.0

