# Elegant HTTP Networking in Swift
github "Alamofire/Alamofire" == 4.6.0

# Image component library for Alamofire
github "Alamofire/AlamofireImage" == 3.3.0

# Controls the visibility of the network activity indicator on iOS using Alamofire.
github "Alamofire/AlamofireNetworkActivityIndicator" == 2.2.0

# Swift SQLite interface
github "groue/GRDB.swift" == 2.4.1

# A lightweight, pure-Swift library for downloading and caching images from the web.
github "onevcat/Kingfisher" == 4.6.1

# Library to work with location tracking in iOS
github "malcommac/SwiftLocation" == 3.1.0

# Asynchonous library
github "malcommac/Hydra" == 1.2.1

# HUD meant to display the progress of an ongoing task on iOS 
github "SVProgressHUD/SVProgressHUD" == 2.2.2

# Alamofire extension for serialize NSData to SwiftyJSON
github "SwiftyJSON/Alamofire-SwiftyJSON" == 3.0.0

# Type-safe JSON in Swift
github "SwiftyJSON/SwiftyJSON" == 4.0.0

# Used to validate user input
github "SwiftValidatorCommunity/SwiftValidator" == 4.0.1

# Local and cloud-hosted logging
github "SwiftyBeaver/SwiftyBeaver" == 1.5.0